.badge-container {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  border: 1px solid #ccc;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge-image img {
  max-width: 100%;
  height: auto;
}

